/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.page-template-default{
	article{
		padding: 0 50px;
	}
}

.site-content{
	margin-top: 100px;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

//blog posts
.single{
	.content-area{
		padding: 0 50px;
	}
	.site-content{
		@include desktop{
			margin-top: 50px;
			display: flex;
			flex-flow: row nowrap;
			.content-area{
				width: 70%;
				border-right: 1px solid $color__brand-grey;
			}
			.widget-area{
				width: 30%;
				padding: 50px;
			}
			ul{
				margin: 0;
			}
			.byline{
				font-weight: bold;
			}
		}
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
