/* Footer */

.site-footer {
  background-color: $color__brand-purple;
  height: auto;
  color: $color__brand-grey;

  .widget {
    margin: 0;
  }

  @include desktop {
      display: flex;
      height: 150px;
      justify-content: space-between;
    }

  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      display: none;
    }
  }

  .menu {
    padding: 0px;
    text-transform: uppercase;

    li {
    margin: 1rem;
    }

    a {
      padding: 20px 10px;
      text-decoration: none;
      color: $color__brand-grey;
    }
  }

  .menu-footer-menu-container {
    @include desktop {
      display: none;
    }
  }

  ul {
    text-align: center;
    list-style: none;
    border: 2rem;
    margin: 0;
    padding: 0px;
  }

  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
  
    
    a:visited {
      color: white;
    }

    i {
      margin: 1rem;
    }

    @include desktop {
      margin: 1rem 1rem 0 0;
      order: 2;
    }
  }

  .site-info {
    text-align: center;
    font-weight: 800;
    padding: 10px;

    @include desktop {
      order: 1;
      margin: 0 25px;
    }

    .footer__company {
      font-size: 1.5rem;
    }
    .secondary-text {
      font-weight: 100;
      color: lightgray;
    }
    .footer__contact {
      font-size: 1rem;
    }
    .footer__number {
      display: show;

      @include desktop {
        display: none;
      }
    }

  .textwidget .custom-html-widget {
    margin: 0px;
    text-align: center;

    @include desktop {
    text-align: left;
      }
    }
  }
}