/* Footer */

.site-footer {
  background-color: $color__brand-purple;
  height: auto;
  color: $color__brand-grey;

  #navigation {
    align-content: space-around;
    padding-top: 3rem;
  }

  #primary-menu {
    padding: 0px;

    li {
    margin: 3rem;
    }

    a {
      text-decoration: none;
      color: $color__brand-grey;
    }
  }

  ul {
    text-align: center;
    list-style: none;
    border: 2rem;
    margin: 0;
  }

  .social-media {
    text-align: center;
    justify-content: space-between;
    font-size: 40px;

    i {
      margin: 1rem;
    }
  }

  .site-info {
    width: auto;
    padding: 1.75rem;

    .footer__company {
      font-size: 1.5rem;
    }

    .footer__contact {
      font-size: 1rem;
    }

    .footer__number {
      visibility: hidden;
    }

  h2, h3 {
    margin: 0px;
    text-align: center;
    }
  }
}