/* Footer */

.site-footer {
  background-color: $color__brand-purple;
  height: auto;
  color: $color__brand-grey;

  @include desktop {
      display: flex;
      height: 150px;
      justify-content: space-between;
    }

  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      display: none;
    }
  }

  #primary-menu {
    padding: 0px;

    li {
    margin: 3rem;
    }

    a {
      text-decoration: none;
      color: $color__brand-grey;
    }
  }

  ul {
    text-align: center;
    list-style: none;
    border: 2rem;
    margin: 0;
    padding: 0px;
  }

  .social-media {
    text-align: center;
    justify-content: space-between;
    font-size: 40px;

    i {
      margin: 1rem;
    }

    @include desktop {
      order: 2;
      margin: 2rem 1rem 0 0;
    }
  }

  .site-info {
    width: auto;
    padding: 1.75rem;

    .footer__company {
      font-size: 1.5rem;
    }
    .footer__contact {
      font-size: 1rem;
    }
    .footer__number {
      display: hidden;

      @include desktop {
        display: show; 
      }
    }

  h2, h3 {
    margin: 0px;
    text-align: center;

    @include desktop {
    text-align: left;
    }
  }

  @include desktop {
    order: 1;
    }
  }
}