/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Form -- mobile

		.mobile-contact-form{
			display: none;
			position: absolute;
			z-index: 100;
			background: #F2F2F2;
			width: 100vw;
			min-height: 100vh;
			color: $color__brand-purple;
			@include tablet{
				display: none;
			}
			.form-header{
				width: 100%;
				background: white;
				min-height: 30vh;
				padding: 10%;
			}
			i{
				display: block;
				text-align: right;
			}
			h2{
				margin: 6% 0;
				flex-basis: 100%;
			}
			.form-content{
				padding: 10%;
				padding-bottom: 0;
			}
			p{
				margin: 0 auto;
				padding: 3% 0;
			}
			label{
				display: inline-block;
				width: 100%;
			}
			.wpcf7-form-control-wrap{
				width: 100%;
				display: inline-block;
			}
			input[type="submit"]{
				margin: 0 auto;
				margin-top: 30px;
			}
		}

//Form -- horizontal
.horizontal-contact-form{
	display: none;
	background: #F2F2F2;
	color: $color__brand-purple;
	margin: 0 auto;
	padding-bottom: 2%;
	border-radius: 17px;
	@include tablet{
		display: block;
		width: 90%;
	}
	@include desktop{
		width: 80%;
	}
	.form-header{
		width: 100%;
		padding: 5% 10% 0 10%;
		// @include tablet{
		// 	padding: 5% 10% 0 10%;
		// }
		@include desktop{
			padding: 3% 5% 0 5%;
		}
	}
	i{
		display: block;
		text-align: right;
	}
	h2{
		margin: 6% 0;
		flex-basis: 100%;
		@include tablet{
			margin: 3% 0;
		}
		@include tablet{
			margin: 2% 0;
		}
	}
	.form-content{
		padding: 0 10% 0 10%;
		@include desktop{
			padding: 0% 5% 0 5%;
		}
		p{
			margin: 0 auto;
			padding: 3% 0;
			@include desktop{
				display: inline-block;
				&:nth-child(odd){
					width: 54%;
					padding-right: 3%;
				}
				&:nth-child(even){
					width: 44%;
				}
			}
		}
	}

	.contact-form-submit{ //this block styles the form submit button wrapper
		padding: 0 5%;
		margin: 3% 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		text-align: right;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: center;
	}
	
	label{
		display: inline-block;
		width: 100%;
	}
	.wpcf7-form-control-wrap{
		width: 100%;
		display: inline-block;
	}
	input[type="submit"]{
		// margin-top: 30px;
		display: block;
		margin: 0;
	}
}



			// p{
			// 	@include desktop{
			// 		display: inline-block;
			// 		padding: 10px 0;
			// 		
			// 	}
			// }

/* Fields */

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea,
	select, {
		color: #666;
		border: 1px solid $color__brand-purple;
		border-radius: 17px;
		padding: 13px 3px;
		width: 100%;
		outline: none;

		&:focus {
			color: #111;
		}
	}

	select{
		height: 50px;
		border-radius: 17px;
		padding: 0 10px;
		appearance: none;
		background: url("../../images/dropdown-arrow.svg") no-repeat 97%/15px 15px, white;
		outline: none;
	}


/* Buttons */

	.btn,
	input[type="submit"]{
		display: block;
		width: 275px;
		text-align: center;
		color: white;
		border-radius: 25px;
		padding: 10px;
		text-decoration: none;
		border: none;
		background: $color__brand-orange;
		margin: 0 auto;
	}

	.orange{
		background: $color__brand-orange;
		&:hover{
			background: darken($color__brand-orange, 10%)
		}
	}

	.purple{
		background: $color__brand-purple;
		&:hover{
			background: darken($color__brand-purple, 10%)
		}
	}

	.mobile-btn{
		margin: 0 auto;
		@include tablet{
			display: none;
		}
	}





