/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// Form -- horizontal
	div.wpcf7{
		background: #F2F2F2;
		width: 100%;
		color: $color__brand-purple;
		padding: 20px 0;
		@include desktop{
			width: 70%;
		}
		p{
			padding: 10px 50px;
			margin: 0 auto;
		}
		label{
			display: inline-block;
			width: 100%;
		}
		.wpcf7-form-control-wrap{
			width: 100%;
			display: inline-block;
		}
		input[type="submit"]{
			margin: 0 auto;
			margin-top: 30px;

		}
	}



/* Buttons */

	.btn,
	input[type="submit"]{
			display: block;
		width: 275px;
		text-align: center;
		color: white;
		border-radius: 25px;
		padding: 10px;
		text-decoration: none;
		border: none;
		background: $color__brand-purple;
	}

	.orange{
		background: $color__brand-orange;
		&:hover{
			background: darken($color__brand-orange, 10%)
		}
	}

	.purple{
		background: $color__brand-purple;
		&:hover{
			background: darken($color__brand-purple, 10%)
		}
	}


	button,
	input[type="button"],
	input[type="reset"],
	 {
		//leaving this blank for now so it doesn't conflict with the styles Eric is adding to the Hamburger button.
	}



/* Fields */

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea,
	select, {
		color: #666;
		border: 1px solid $color__brand-purple;
		border-radius: 9px;
		padding: 13px 3px;
		width: 100%;

		&:focus {
			color: #111;
		}
	}

	select{
		height: 50px;
		border-radius: 9px;
		appearance: none;
		background: url("../../images/dropdown-arrow.svg") no-repeat 97%/15px 15px, white;
	}


