/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

	.btn,
	input[type="submit"]{
			display: block;
		width: 275px;
		text-align: center;
		color: white;
		border-radius: 25px;
		padding: 10px;
		text-decoration: none;
		border: none;
		background: $color__brand-purple;
	}

	.orange{
		background: $color__brand-orange;
		&:hover{
			background: darken($color__brand-orange, 10%)
		}
	}

	.purple{
		background: $color__brand-purple;
		&:hover{
			background: darken($color__brand-purple, 10%)
		}
	}


	button,
	input[type="button"],
	input[type="reset"],
	 {
		//leaving this blank for now so it doesn't conflict with the styles Eric is adding to the Hamburger button.
	}



/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
