/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: yellow;
	font-family: $font__header;
	color:$color__brand-purple;
	justify-content: space-around;
	align-items: flex-end;
	.menu {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 10px;
	}
	a{
		text-decoration: none;
		&:hover {
		color:$color__brand-orange;
		}
	}
	ul{
		list-style: none;
		text-transform: uppercase;
	}
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}