/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: flex;
	width: 100%;
	background-color: $color__brand-grey;
	font-family: $font__header;
	color: $color__brand-purple;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	top:0px;

	.menu-menu-1-container {
		opacity: 0;
		transform: scaleY(0);
		transition: .5s;
		@include desktop {
			display: flex;
			opacity: 1;
			transform: none;
		}
	}
	.menu-expanded {
		opacity: 1;
		transform: scaleY(1);
	}

	.menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		z-index: 11;
		right: 10px;
		background-color: $color__brand-grey;
		@include desktop {
			flex-direction: row;
			align-items: flex-end;
			background-color: transparent;
			top: 25px;
			right: 50px;
		}
		li {
			padding: 10px;
		}
		.sub-menu {
			display: none;
			@include desktop{
				position: absolute;
			}
		}
	}
	a {
		text-decoration: none;
		&:hover {
			color: $color__brand-orange;
		}
	}
	ul {
		list-style: none;
		text-transform: uppercase;
	}
}

.nav-menu-wrapper {
	display: flex;
	flex-direction: column;
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}



@include desktop {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		li {
			padding: 10px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.header-logo {
	background: url('../../images/mobile-logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 25%;
	height: 50px;
	@include tablet {
		background: url('../../images/desktop-logo.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 100px;
	}
}




