/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.front-page-hero {
  background-image: url('../../images/hands.illo2.svg') ;
  background-size: cover;
  width: 100%;
  height: 300px;
}