/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-page-hero {
  background-image: url('../../images/hands.illo2.svg') ;
  background-size: cover;
  width: 100%;
  height: auto;
}

.home {

  .content-container {
    width: 70%;
    margin-left: 2rem;
  
    .btn {
      justify-content: left;
      width: 65%;
      font-size: 1.25rem;
      margin: 0px;
    }
  }
}

/* Contact Page */

.page {
  width: 100%;

  // .entry-header {
  //   display: none;
  // }
}

/* Praise Page */

