//Styles for the Praise page
  .page-id-32{
    .site-content{
      max-width: 1300px;
      @include desktop{
        margin-top: 50px;
      }
    }
    .content-area{
      @include desktop{
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: auto;
        grid-template-areas: 
          "featuredquote quotes"
          "form quotes";
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        padding: 50px;
      }
    }
    .site-main{
      padding: 0 48px;
      @include desktop{
        padding: 0;
        
      }
    }
    article{
      margin-bottom: 50px;
      @include desktop{
        grid-area: featuredquote;
      }
    }
    .entry-title {
    width: 40%;
    text-align: left;
    }
    .entry-content{
      padding: 0 8%;
    }

    .testimonials{
      padding: 0 50px;
      @include desktop{
        grid-area: quotes;
        position: relative;
        padding: 0;
      }
    }

    .full-quote{
      display: none;
      transition: all 0.5s linear;
    }

    .client-name, .client-company{
      padding-left: 60px;
      margin: 5px 0;
    }
    .client-name{
      font-weight: bold;
      margin-bottom: 0;
      @include tablet{
        &::before{
          content: "- ";
        }
        padding-left: 290px;
      }
      @include desktop{
        padding-left: 50%;
      }
    }

    .client-company{
      font-style: italic;
      font-size: 0.9rem;
      margin: 0;
      @include tablet{
        padding-left: 300px;
      }
      @include desktop{
        padding-left: 51%;
      }
    }

    .read-more, .read-less{
      display: inline;
      font-weight: bold;
    }

    .single-quotes{
      margin-bottom: 50px;
    }

    .quote-excerpt{
      p{
        margin-bottom: 10px;
      }
    }

    .wpcf7{
      z-index: -200;
      @include desktop{
        grid-area: form;
      }
    }
//bubble placement
    .bubble-1{
      bottom: 0;
      left: 30%;
    }
    .bubble-2{
      bottom: -10%;
      right: 30%;
    }
    .bubble-3{
      bottom: 0%;
      left: -20px;
    }
    .bubble-4{
      bottom: 20%;
      right: 10%;
    }
    .bubble-5{
      top: 30%;
      right: -50px;
    }
  }

  