  .page-id-23{
    .site-content{
      max-width: none;
    }
    .site-main{
      padding: 0;
    }
    .science-block{
      padding: 20px 50px;
      h2{
        width: 90%;
      }
    }
    .science-cfs-container{
      max-width: 1200px;
      margin: 0 auto;
    }
//hero Banner
    article{
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
      @include tablet{
        
        img{
          min-height: 100%;
          height: auto;
        }
      }
    }
    .entry-header{
      display: flex;
      align-items: center;
      color: white;
      position: absolute;
      top: 12%;
      left: 10%;
      h1{
        width: 250px;
        margin: 0;
      }
      @include tablet{
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
      }
      @include desktop{
        left: 15%;
      }
    }
    .entry-content{
      margin: 0;
      background: transparent;
      h3{
        display: none;
      }
      @include tablet{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        h3{
          display: block;
          text-align: center;
        }
      }
      @include desktop{
        right: 10%;
      }
    }

//Content block 1 -- Why Play?
    .science-block-1{
      
    }
//Content block 2 -- Cognitive Benefits of Play
    .science-block-2{
      .science-cfs-container{
        max-width: 1000px;
      }
      background: $color__brand-purple;
      color: white;
      h2{
        width: auto;
        max-width: 200px;
      }
      p{
        max-width: 600px;
      }
      h2:nth-child(1){
        margin-left: 25%;
      }
      p:nth-child(2){
        margin-left: 25%;
      }
      h2:nth-child(3){
        margin-right: 25%;
      }
      p:nth-child(4){
        margin-right: 25%;
      }
      @include desktop{
          h2:nth-child(1){
            margin-left: 35%;
          }
          p:nth-child(2){
            margin-left: 35%;
          }
          h2:nth-child(3){
            margin-left: 10%;
            margin-right: 25%;
          }
          p:nth-child(4){
            margin-left: 10%;
            margin-right: 25%;
          }
        }
    }

//Content block 3 -- Let's get down to business
    .science-block-3{
      .science-cfs-container{
        max-width: 1000px;
      }
      @include desktop{
        background: $color__brand-purple;
        color: white;
        h2:nth-child(1){
          margin-left: 35%;
        }
        p:nth-child(2){
          margin-left: 35%;
        }
        h2:nth-child(3){
          margin-left: 10%;
          margin-right: 25%;
        }
        p:nth-child(4){
          margin-left: 10%;
          margin-right: 25%;
        }
      }
    }
  }