  .page-id-23{
    .site-content{
      max-width: none;
    }
    .site-main{
      padding: 0;
    }
    .science-block{
      padding: 20px 50px;
      h2{
        width: 90%;
      }
    }
    article{
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
      @include tablet{
        
        img{
          min-height: 100%;
          height: auto;
        }
      }
    }
    .entry-header{
      display: flex;
      align-items: center;
      color: white;
      position: absolute;
      top: 12%;
      left: 10%;
      h1{
        width: 250px;
        margin: 0;
      }
      @include tablet{
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
      }
      @include desktop{
        left: 15%;
      }
    }
    .entry-content{
      margin: 0;
      background: transparent;
      h3{
        display: none;
      }
      @include tablet{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        h3{
          display: block;
          text-align: center;
        }
      }
      @include desktop{
        right: 10%;
      }
    }
    .science-block-2{
      background: $color__brand-purple;
      color: white;
      padding: 
      h2:nth-child(1){
        padding-left: 20%;
        text-align: center;
      }
      p:nth-child(2){
        padding-left: 20%;
      }
      h2:nth-child(3){
        padding-right: 20%;
      }
      p:nth-child(4){
        padding-right: 20%;
      }

    }
  }