/* Styling Template for Services Page*/

.page-id-68 {
  .site-main {
    padding: 0px;
  }
  /* Workshop Content Display */
    .workshops-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .Y0NH2b {
        font-size: .7rem;
        justify-content: flex-start;
        padding: 0 5px;
      }
    /* Workshop Banner */
      .work-banner {
        position: relative;
        h1 {
          text-transform: none;
          position: absolute;
          top: 3%;
          width: 33%;
          left: 6%;
          transition: .5s;
          @include tablet {
            font-size: 3rem;
            transition: .5s;
          }
          @include desktop {
            font-size: 4rem;
          }
        }
      }
    /* Serious Play Content */
      .serious-play {
        h2 {
          padding: 0 8%;
          opacity: 0;
          transition: .5s;
          height: 0px;
          position: absolute;
          display: flex;
          @include tablet {
            opacity: 1;
            height: auto;
          }
        }
        p {
          padding: 0 8%;
          transition: .5s;
          @include tablet {
            margin-top: 125px;
          }
        }
      }
    /* Ways to Play Content */
      .ways-to-play {
        transition: .5s;
        h2 {
          width: 100%;
          padding: 0 8%;
        }
        h3 {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          padding: 0;
        }
        .ways-content-wrapper {
          @include desktop {
            display: flex;
            justify-content: space-around;
          }
        }
        .lego-play-text {
          padding: 0 8%;
          @include desktop {
            width: 30%;
            padding: 0px;
          }
        }
        .empathy-toys {
          padding: 0 8%;
          @include desktop {
            width: 30%;
            padding: 0px;
          }
        }
        ul{
          margin: 0
        }
      }
    }
  /* Speaking Content Display */
    .speaking-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     /*Speaking Banner */
      .speak-banner {
        color: $color__background-body;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        position: relative;
        transition: .5s;
        @include tablet {
          margin-top: 50px;
          height: 200px;
        }
        p {
          width: 100vw;
          img {
            max-width: 100vw;
            height: 100%;
          }
        }
        h1 {
          padding-left: 8%;
          width: 30%;
          transition: .5s;
          position: absolute;
          @include tablet {
            font-size: 3rem;
          }
        }
        h3 {
          position: absolute;
          top: 2%;
          right: 9%;
          width: 150px;
          color: transparent;
          transition: .5s;
          @include tablet {
            color: $color__background-body;
            display: flex;
          }
          @include desktop {
            right: 10%;
          }
        }
      }
    /* Get Info Package Button*/
      .service-info {
        display: block;
        margin-top: 50px;
        @include tablet {
          margin: 0;
          position: absolute;
          top: 7.5%;
          right: 7%;
        }
      }
    /* International Speaker */
      .inter-speaker {
        padding: 0 8%;
        transition: .5s;
        height: 15%;
        @include tablet {
          margin-top: 50px;
          transition: .5s;
        }
        @include desktop {
          margin-top: 15%;
        }
      }
    /* Highlights */
      .highlights {
        width: 100%;
        position: relative;
        padding: 5% 8%;
        color: $color__background-body;
        background-color: $color__services-highlights;
        height: 736px;
        transition: .5s;
        z-index: -2;
        @include desktop {
          height: 650px;
          background: url('../../images/purple-speaking-banner.svg'), $color__services-highlights;
          background-size: 100%;
          background-position: left bottom;
          background-repeat: no-repeat;
        }
        h2 {
          margin-bottom: 5%;
          width: 220px;
          z-index: 100;
        }
        p {
          width: 220px;
          z-index: 100;
        }
        /* Sizzle Reel button*/
        .cfs-hyperlink {
          position: absolute;
          width: 125px;
          height: 125px;
          text-align: center;
          color: white;
          border-radius: 100%;
          padding: 10px;
          text-decoration: none;
          border: none;
          background: $color__brand-orange;
          margin: 0 auto;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
          transition: .5s;
          left: 39vw;
          display: flex;
          justify-content: center;
          align-items: center;
          .text {
            padding: 0 7px;
          }
          &:hover {
            background: darken($color__brand-orange, 10%)
          }
          @include desktop {
            top: 10%;
            right: 15%;
          }
        }
      }
    /* Keynotes */
      .keynotes {
        width: 100%;
        position: relative;
        padding: 5% 8%;
        color: $color__background-body;
        background-color: $color__brand-orange;
        transition: .5s;
        z-index: -2;
        @include desktop{
          background: url('../../images/orange-speaking-banner.svg'), $color__brand-orange;
          background-size: 100%;
          background-position: left top;
          background-repeat: no-repeat;
        }
      }
    }
  /* Coaching Content Display */
    .coaching-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    justify-content: center;
    /* Coaching banner*/
      .coach-banner {
        position: relative;
        display: flex;
        color: $color__background-screen;
        width: 100%;
        transition: .5s;
        flex-direction: column;
        
        p {
          width: 100vw;
        }
        @include tablet {
          justify-content: space-around;
          flex-direction: row;
        }
        h1 {
          position: absolute;
          transition: .5s;
          padding-left: 8%;
          top: 25%;
          @include tablet {
            font-size: 3rem;
            left: 0;
          }
          @include desktop {
            font-size: 4rem;
          }
        }
        h3 {
          position: absolute;
          top: 2%;
          right: 9%;
          width: 150px;
          color: transparent;
          transition: .5s;
          @include tablet {
            color: $color__background-body;
            display: flex;
          }
          @include desktop {
            right: 10%;
          }
        }
        .coach-info {
          margin: 0 auto;
          transition: .5s;
          @include tablet {
            position: absolute;
            right: 7.5%;
            top: 45%;
          }
          @include desktop {
            right: 7%;
          }
        }
      }
    /* We're here for you*/
      .here-for-you-wrapper {
        padding: 0 8%;
        transition: .5s;
        p {
          padding: 0 8%;
        }
      }
    /* Advice */
      .advice-wrapper {
        display: flex;
        flex-direction: column;
        h2 {
          display: flex;
          background: $color__brand-yellow;
          width: 100vw;
          padding: 0 8%;
          height: 150px;
          color: $color__background-body;
          align-items: center;
          font-size: 2rem;
        }
        h3 {
          text-align: center;
          padding: 0 8%;
        }
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 8%;
          transition: .5s;
          @include tablet {
            padding: 0 20%;
          }
        }
      }
    }
  
  //Bubble placement
  .bubble-1{
    left: 0;
    bottom: -100%;
  }
  .bubble-2{
    right: 20%;
    bottom: -30%;
  }
  .bubble-3{
    right: 0;
    bottom: 0;
  }
  .bubble-4{
    right: 40%;
    top: 40%;
  }
  .bubble-5{
    left: 20%;
    bottom: 10%;
  }
  .bubble-6{
    right: 0;
    bottom: 10%;
  }
  .bubble-7{
    right: -10%;
    top: 10%;
  }
  .bubble-8{
    right: 20%;
    bottom: 30%;
  }
  .bubble-9{
    right: 5%;
    bottom: -10%;
  }
  .bubble-10{
    left: 10%;
    bottom: 5%;
  }
  .bubble-11{
    right: 20%;
    bottom: -20%;
  }
  .bubble-12{
    right: 0;
    bottom: 0;
  }
  .bubble-13{
    right: 0;
    top: 10%;
  }
  
  }