// Structure

$base__space-unit: 1.5rem;

// Colors
$color__brand-purple: #190A6B;
$color__brand-orange: #FF5301;
$color__brand-yellow: #FFC200;
$color__brand-grey: #DEDDDB;
$color__brand-light-grey: #F2F2F2;


$color__services-highlights: #654ede;

$color__text-main: #190A6B;

  //These are default colors that come with the starter theme. 
  $color__background-body: #fff;

  $color__background-screen: #f1f1f1;
  $color__text-screen: #21759b;

  $color__background-hr: #ccc;
  $color__background-pre: #eee;
  $color__background-ins: #fff9c0;
  $color__border-abbr: #666;

  $color__link: royalblue;
  $color__link-visited: purple;
  $color__link-hover: midnightblue;

// Typography

$font__main: 'Muli', sans-serif;
$font__header: 'Oswald', sans-serif;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
